.cell {
  font-size: 25px;
  text-align: center;
  border: 2px solid red;
  color: whitesmoke;
  padding: 10px;
}

.cell-1 {
  background: #e53d00;
}
.cell-2 {
  background: #ffe900;
}
.cell-3 {
  background: #2a6041;
}
.cell-4 {
  background: #182066;
}
.cell-5 {
  background: #1b99ab;
}
.cell-6 {
  background: #840e46;
}
